body{
    font-family: 'Merriweather', serif;
    background-color:#9F9F9F ;
    }
    main{
        display: flex;
        justify-content: center;
    }
    .container{
        background-color: white;
        width: 870px;
        padding: 30px;
    }

/* top players style */
.top-players{
    margin-bottom: 30px;

}
.section-titel{
    color: #562EFF;
    font-size: 24;
    margin-top: 3px;


}
.players{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin: 16px;
    font-size: 17px;
}
hr{
    border: 1px solid #D1D1D1;
}
/*---top blog styles --*/
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}
.blog-titel{
    font-size: 20px;
}